<meta name="viewport" content="width=device-width , initial-scale=1">

<!-- <div class='container-fluid'>

    <div class="col-12">
      <ngb-carousel>
  
          <ng-template ngbSlide>
              <img [src]="home.image1" alt="Water splash">
              <div class="col-12">
              <h3 style="color: silver;">Water splash</h3>
          </div>
          </ng-template>
  
          <ng-template ngbSlide>
              <img [src]="home.image2" alt="Beautiful tree">
              <div class="carousel-caption">
              <h3 style="color: silver;">Beautiful tree</h3>
          </div>
          </ng-template>
  
          <ng-template ngbSlide>
              <img [src]="home.image3" alt="Family">
              <div class="carousel-caption">
              <h3 style="color: silver;">Family</h3>
          </div>
          </ng-template>
  
          <ng-template ngbSlide>
              <img [src]="home.image4" alt="Dive in mountains, liberty">
              <div class="carousel-caption">
              <h3 style="color: silver;">Dive in mountains, liberty</h3>
          </div>
          </ng-template>
  
          <ng-template ngbSlide>
              <img src="home.image5" alt="A beautiful family...">
              <div class="carousel-caption">
              <h3 style="color: silver;">A beautiful family...</h3>
          </div>
          </ng-template>
  
      </ngb-carousel>
   </div>
  </div> --> 